<a href="https://colab.research.google.com/github/linxiaoxin/AspMicrSApp/blob/main/colab/02a_Functional_Programming_Workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functional Progamming Workbook

*Functional programming is a programming paradigm, a style of building the structure and elements of computer programs, that treats computation as the evaluation of mathematical functions and avoids changing state and mutable data. ~ As Quoted by Wikipedia.*

Python provides features like lambda, filter, map, and reduce that can easily demonstrate the concept of Functional Programming. In this work book, particpants  will practice creating functions using these basic features.

# Function

**Functions** *are objects, methods are not.  Functions are named, reusable expressions.*

A function is a block of code to carry out a specific task, will contain its own scope and is called by name. All functions may contain zero(no) arguments or more than one argument. On exit, a function can or cannot return one or more values.

**General Syntax**
```
def functionName( arg1, arg2,….):
   # codes
```
For example:
```
import math
def areaofcircle(radius):
    return math.pi * radius * radius
print(areaofcircle(10.0))
```
*Output: 314.1592653589793*

OR using lambda
```
import math
circlearea = lambda radius : math.pi * radius * radius
print(circlearea(10.0))
```
*Output: 314.1592653589793*

Functions in summary has the below properties:
1.	Functions are value types; can be stored in val and var storage units.
2.	Functions are objects of type function0, function1,  ...
3.	Functions have both a type and a signature (type is function0,function1, ..).
4.	Slightly slower, and higher overhead.
5.	Functions are first class entities on par with classes.
6.	Functions can accept type parameters or parameter default values or partial functions.

Statements are units of code that do not return a value. Expressions are units of code that return a value. The last expression in a block is the return value for the entire block. Functions are named, reusable expressions. Expressions can be stored in values or variables and passed into functions.

## The Lambda Expression

Lambda expressions, also known as “anonymous functions”, allow us to create and use a function in a single line. They are useful when we need a short function that will be used only once. They are mostly used in conjunction with the map, filter and the sort methods.  

Let’s write a function in Python, that computes the value of 5x + 2. The standard approach would be to define a function.

For example, the standard way to write a function for 5X+2
def f(x):
  return 5 * x + 2
print(f(3))
*Output : 17*

However, there's a quicker way to write functions on the fly, and these are called lambda functions. A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression. To create a lambda expression, we type in the keyword lambda, followed by the inputs. Next, we enter a colon, followed by the expression that will be the return value.

###General Syntax

*lambda arguments : expression*

For example, if we rewrite the same standard expression above as lambda:
```
 lambda x: 5*x+2
```
There is a small issue in the above definition, lambda is not the name of the function. So developers usually like to set a name for the functions crafted.

One way is to give it a name. Let us call this lambda expression s. Now, we can use this like any other function.
```
s = lambda x: 5*x+2
s(3)
```
*Output :17*

Another example:
```
x = lambda a : a + 10
print(x(5))
```
*Output: 15*

The lambda function is much more powerful and concise because we can also construct anonymous functions; functions without a name, example:
```
(lambda x, y: x * y)(9, 10) #returns 90
```

## Python Tuples and Named Tuples
A tuple is an immutable and ordered collection of items. Tuples are similar to lists but cannot be modified once created.
####Creating a tuple
**Syntax:**
```
my_tuple = (item1, item2, item3)
```
####Key Points:
*   Tuples are defined by enclosing the elements in parentheses ( ).
*   They are immutable, meaning once a tuple is created, you cannot change its elements.
*   Tuples can contain mixed data types.

**Named tuples**, available in the collections module, extend the capabilities of regular tuples. Named tuples assign meaning to each position in a tuple and allow for more readable, self-documenting code.

```
# import library
from collections import namedtuple
# create a named tuple
Person = namedtuple('Person', 'name age gender')
# instatiate one
john = Person(name="John", age=30, gender="Male")
```
####Key Points:
*   Named tuples make your code self-documenting.
*   They can be accessed using field names in addition to index positions.
*   Named tuples are still immutable like regular tuples.

## Tuple Exercises
### Exercise 1: Basic Tuple Operations
Create a tuple named fruits containing "apple", "banana", and "cherry".
Try to change the second item in fruits to "strawberry". Observe what happens.

In [3]:
# complete code
fruits = ('apple', 'banana', 'cherry')
print(fruits)
fruits[1] = 'strawberry'
print(fruits)

('apple', 'banana', 'cherry')

TypeError: 'tuple' object does not support item assignment

### Exercise 2: Working with Named Tuples
Import the namedtuple function from the collections module.
Create a named tuple Car with fields make, model, and year.
Instantiate a Car named my_car with appropriate values, and print each field.

In [7]:
# complete code
from collections import namedtuple

Car = namedtuple('Car', 'make model year')
my_car = Car(make='telsa', model='x-10', year=2023)
print(my_car)

Car(make='telsa', model='x-10', year=2023)

### Exercise 3: Advanced Usage of Named Tuples
Extend the Car named tuple to include a method age that calculates the age of the car based on the current year.
Create an instance of this modified Car and use the age method to find its age.

In [12]:
# complete code
my_car_extended = my_car + (2024 - my_car.year,)
print(my_car_extended)

('telsa', 'x-10', 2023, 1)

### Exercise 4: Exploring Tuple Unpacking
Create a tuple coordinates with values (10, 20, 30).
Unpack these values into variables x, y, and z and print them.

In [16]:
# complete code
(x, y, z) = (10, 20, 30)
print(x)
print(y)
print(z)

10
20
30

### Exercise 5: Practical Application of Named Tuples
Create a named tuple Student with fields name, roll_number, and grade.
Create a list of Student instances representing a class of students.
Write a function to find the average grade of the class.

In [20]:
# complete code
import collections
from functools import reduce

Student = collections.namedtuple('Student', ['name', 'roll_number', 'grade'])

# Tuples
students = (
   Student(name='Albert Einstein',roll_number=1,grade=56),
   Student(name='Marie Curie',roll_number=2,grade=66),
   Student(name='Isaac Newton',roll_number=4,grade=90),
   Student(name='Nikola Testla',roll_number=2,grade=78),
   Student(name='Galileo Galilei',roll_number=1,grade=56),
   Student(name='Ada Lovelace',roll_number=3,grade=45)
)
print(students)

def average(students):
   return sum(stu.grade for stu in students)/len(students)

print(average(students))

(Student(name='Albert Einstein', roll_number=1, grade=56), Student(name='Marie Curie', roll_number=2, grade=66), Student(name='Isaac Newton', roll_number=4, grade=90), Student(name='Nikola Testla', roll_number=2, grade=78), Student(name='Galileo Galilei', roll_number=1, grade=56), Student(name='Ada Lovelace', roll_number=3, grade=45))
65.16666666666667

#### Note for Participants:
*Ensure to execute the code after writing it to see the output and understand the behavior of tuples and named tuples. Feel free to experiment with the structures by adding more elements, fields, or methods as needed.*

## Map Function
The map function in Python applies a given function to each item of an iterable (like a list or tuple) and returns a map object (which is an iterator).
```
map(function, iterable, ...)
```
### Key Points
*   The function is the function to which the specified iterable elements are applied.
*   The iterable can be a tuple, named tuple, etc.
*   The map function can take more than one iterable. The function must then take that many arguments.

## Map Exercises
### Exercise 1: Basic Usage of map
Create a list of numbers: numbers = [1, 2, 3, 4, 5].
Use the map function to create a new list where each number is squared.
Print the result.

In [22]:
# Complete code
def square(n):
  return n * n;

numlist = [1,2,3,4,5]

print(list(map(square, numlist)))

[1, 4, 9, 16, 25]

### Exercise 2: Using map with Named Tuples
Define a named tuple Person with fields name and age.
Create a list of Person instances.
Use the map function to increase the age of each person by 1 year, and create a list of the updated persons.

In [23]:
# complete codes
from collections import namedtuple

Person = namedtuple('Person', 'name age')

persons = [Person(name = 'Albert', age=25), Person(name='Sandra', age=32), Person(name='Helen', age=35), Person(name='Nathan', age=29)]

persons = list(map(lambda x: Person(name= x.name, age = x.age +1), persons))

print(persons)

[Person(name='Albert', age=26), Person(name='Sandra', age=33), Person(name='Helen', age=36), Person(name='Nathan', age=30)]

### Exercise 3: Combining map and Lambda Functions
Create a list of tuples where each tuple is a coordinate (x, y).
Use map with a lambda function to create a new list where each coordinate is translated by adding 1 to both x and y values.

In [25]:
# complete code
coordinates = [(10, 80), (50, 20), (63, 46), (73, 3)]

print((10,1), (1,1))

TypeError: can only concatenate tuple (not "int") to tuple

### Exercise 4: Multiple Iterables with map
Create two lists of equal length: one with names, another with ages.
Define a named tuple Person with fields name and age.
Use map to create a list of Person instances using the two lists.

In [ ]:
# complete code

### Exercise 5: Advanced Application of map
Create a list of named tuples representing products, each with fields name and price.
Write a function that applies a discount to the price.
Use map to apply this function to all products and generate a list of products with discounted prices.

In [ ]:
# complete code

### Note for Participants:
*Remember that the map function returns a map object, which is an iterator. Experiment with different functions and iterables to deepen your understanding of how map works in Python.*

The filter function in Python is used to create a list of elements for which a function returns true.
```
filter(function, iterable)
```

#### Key Points
*   The function is a predicate, which means it returns either True or False.
*   The iterable can be any sequence like lists, tuples, or strings.
*   The result is a new iterable with elements that return True for the predicate function.

## Filter Exercises
#### Exercise 1: Basic Usage of filter
Create a list of numbers: numbers = [1, 2, 3, 4, 5, 6].
Use the filter function to create a new list with only even numbers.
Print the result.

In [ ]:
# complete code

#### Exercise 2: Filtering with Named Tuples
Define a named tuple Employee with fields name and department.
Create a list of Employee instances.
Use the filter function to create a list of employees who belong to a specific department, e.g., "Sales".

In [ ]:
# complete code

#### Exercise 3: Combining filter and Lambda Functions
Create a list of named tuples representing products, each with fields name and price.
Use filter with a lambda function to create a list of products whose price is greater than a certain value, say $50.

In [ ]:
# complete code

#### Exercise 4: Advanced Filtering
Define a named tuple Student with fields name, grade, and major.
Create a list of Student instances.
Use filter to find students who have a grade above a certain threshold and are in a specific major.

In [ ]:
# complete code

#### Exercise 5: Practical Application
Define a named tuple Book with fields title, author, and genre.
Create a list of Book instances.
Write a function to filter out books of a particular genre and by a specific author. Use filter to apply this function.

In [ ]:
# complete code

#### Note for Participants:
* The filter function returns an iterator. To print or list the results, you may need to convert it to a list using list(). Experimenting with different functions and iterables will enhance your understanding of the filter function in Python. Remember, the predicate function must return a boolean value (True or False).*

## Reduce Function
The reduce function is a powerful tool in Python, used to apply a function cumulatively to the items of an iterable, reducing the iterable to a single value.
```
from functools import reduce

reduce(function, iterable[, initializer])
```
#### Key Points
*   The function takes two arguments and applies a cumulative operation to the items of the iterable.
The iterable can be any sequence such as lists, tuples, etc.
*   An optional initializer can be provided as the initial value to start the accumulation.
*   The reduce function is part of the functools module and needs to be imported.

## Reduce Excercises
#### Exercise 1: Basic Usage of reduce
Create a tuple of numbers: numbers = (1, 2, 3, 4, 5).
Use reduce to calculate the sum of these numbers.
Print the result.

In [ ]:
# complete code

#### Exercise 2: Finding Maximum with reduce
Create a tuple of integers.
Use reduce with a lambda function to find the maximum value in the tuple.
Print the maximum value.

In [ ]:
# complete code

#### Exercise 3: Concatenating Strings
Create a tuple of strings: words = ('Hello', 'world', 'Python', 'is', 'awesome').
Use reduce to concatenate these strings into a single sentence.
Print the concatenated sentence.

In [ ]:
# complete code

#### Exercise 4: Multiplying Elements
Create a tuple containing a series of numbers.
Use reduce to multiply all the numbers in the tuple.
Print the product of these numbers.

In [ ]:
# complete code

#### Exercise 5: Custom Reduce Operation
Create a tuple of tuples, where each inner tuple contains a pair of numbers (e.g., ((1, 2), (3, 4), (5, 6))).
Define a function that takes two tuples as arguments and returns a new tuple with the sum of corresponding elements.
Use reduce to apply this function across the tuple of tuples.
Print the resulting tuple.

In [ ]:
# complete code

#### Note for Participants:
*The reduce function is a bit different from map and filter as it reduces an iterable to a single cumulative value. It's essential to understand how the function you pass to reduce works with the elements of the iterable. Experiment with different tuples and functions to gain a deeper understanding of reduce.*

== End of Workbook ==